name: Build Windows (Manual)

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Git tag/branch to build'
        required: true
        default: '2125'

jobs:
  windows-build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        target: ["msvc", "msys2"]
    defaults:
      run:
        shell: ${{ (matrix.target == 'msys2' && 'msys2') || 'bash' }} {0}
    env:
      OS: windows
      TARGET: ${{ matrix.target }}
    steps:
      - name: Checkout Azahar
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.tag }}
          submodules: recursive

      - name: Patch fmt for MSYS2
        if: ${{ matrix.target == 'msys2' }}
        run: |
          sed -i '1i#include <cstdlib>' externals/fmt/include/fmt/format.h

      - name: Set up MSVC
        if: ${{ matrix.target == 'msvc' }}
        uses: ilammy/msvc-dev-cmd@v1

      - name: Install extra tools (MSVC)
        if: ${{ matrix.target == 'msvc' }}
        run: choco install ccache ninja ptime wget

      - name: Install vulkan-sdk (MSVC)
        if: ${{ matrix.target == 'msvc' }}
        run: |
          wget https://sdk.lunarg.com/sdk/download/1.3.296.0/windows/VulkanSDK-1.3.296.0-Installer.exe -O D:/a/_temp/vulkan.exe
          D:/a/_temp/vulkan.exe --accept-licenses --default-answer --confirm-command install

      - name: Set up MSYS2
        if: ${{ matrix.target == 'msys2' }}
        uses: msys2/setup-msys2@v2
        with:
          msystem: clang64
          update: true
          install: git make p7zip
          pacboy: >-
            toolchain:p ccache:p cmake:p ninja:p spirv-tools:p
            qt6-base:p qt6-multimedia:p qt6-multimedia-wmf:p qt6-tools:p qt6-translations:p

      - name: Install extra tools (MSYS2)
        if: ${{ matrix.target == 'msys2' }}
        uses: crazy-max/ghaction-chocolatey@v3
        with:
          args: install ptime wget

      - name: Build
        run: ./.ci/windows.sh

      - name: Pack
        run: ./.ci/pack.sh

      - name: Upload to Release
        run: |
          $TAG = "${{ github.event.inputs.tag }}"
          foreach ($file in Get-ChildItem artifacts/*) {
            gh release upload $TAG $file.FullName --repo adri22235/azahar-auto-builds --clobber
          }
        shell: pwsh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
