name: Build Windows (Manual)

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to build'
        required: true
        default: '2125'

jobs:
  windows-build:
    runs-on: windows-latest
    strategy:
      matrix:
        target: ["msvc", "msys2"]
    defaults:
      run:
        shell: ${{ (matrix.target == 'msys2' && 'msys2') || 'bash' }} {0}
    env:
      OS: windows
      TARGET: ${{ matrix.target }}
    steps:
      - name: Checkout Azahar
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.tag }}
          submodules: recursive

      - name: Set up MSVC
        if: ${{ matrix.target == 'msvc' }}
        uses: ilammy/msvc-dev-cmd@v1

      - name: Install Qt6 (MSVC)
        if: ${{ matrix.target == 'msvc' }}
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.6.0'
          host: 'windows'
          target: 'desktop'
          arch: 'win64_msvc2019_64'
          dir: '${{ github.workspace }}/qt'

      - name: Install vulkan-sdk (MSVC)
        if: ${{ matrix.target == 'msvc' }}
        shell: pwsh
        run: |
          mkdir -p D:/a/_temp
          wget https://sdk.lunarg.com/sdk/download/1.3.296.0/windows/VulkanSDK-1.3.296.0-Installer.exe -O D:/a/_temp/vulkan.exe
          D:/a/_temp/vulkan.exe --accept-licenses --default-answer --confirm-command install

      - name: Set up MSYS2
        if: ${{ matrix.target == 'msys2' }}
        uses: msys2/setup-msys2@v2
        with:
          msystem: clang64
          update: true
          install: git make p7zip
          pacboy: >-
            toolchain:p ccache:p cmake:p ninja:p spirv-tools:p
            qt6-base:p qt6-multimedia:p qt6-multimedia-wmf:p qt6-tools:p qt6-translations:p

      - name: Install extra tools (MSVC)
        if: ${{ matrix.target == 'msvc' }}
        run: choco install ccache ninja ptime wget

      - name: Set up cache
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/.ccache
          key: ${{ runner.os }}-${{ matrix.target }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.target }}-

      - name: Build
        run: |
          mkdir build && cd build
          CMAKE_FLAGS="-DCMAKE_BUILD_TYPE=Release -DENABLE_QT_TRANSLATION=ON -DUSE_DISCORD_PRESENCE=ON -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache"
          if [ "${{ matrix.target }}" == "msvc" ]; then
            CMAKE_FLAGS="$CMAKE_FLAGS -DCMAKE_PREFIX_PATH=${{ github.workspace }}/qt/6.6.0/msvc2019_64"
          fi
          cmake .. -GNinja $CMAKE_FLAGS
          ninja bundle
          # Renaming for clarity
          [ -f bundle/azahar.exe ] && mv bundle/azahar.exe bundle/Azahar-${{ matrix.target }}.exe
          [ -f bundle/azahar-qt.exe ] && mv bundle/azahar-qt.exe bundle/Azahar-${{ matrix.target }}.exe
          [ -f bundle/azahar-room.exe ] && mv bundle/azahar-room.exe bundle/Azahar-room-${{ matrix.target }}.exe
          ls -l bundle/*.exe

      - name: Package
        run: |
          cd build/bundle
          7z a ../../azahar-${{ github.event.inputs.tag }}-windows-${{ matrix.target }}.zip *

      - name: Upload to Release
        run: gh release upload ${{ github.event.inputs.tag }} azahar-${{ github.event.inputs.tag }}-windows-${{ matrix.target }}.zip --repo ${{ github.repository }} --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
